# Ignore system files and directories
.DS_Store
.Trash
.bash_sessions/
.zsh_sessions/
.bash_history
.zsh_history
.python_history
.sqlite_history

# Ignore user directories within the project
/Library/
/Music/
/Pictures/
/Public/
/Movies/
/Applications/
/Documents/
/Downloads/

# Ignore VSCode settings and extensions
.vscode/

# Ignore Docker-related files
.docker/

# Ignore Python virtual environments and cache
env/
venv/
__pycache__/

# Ignore Git configuration files
.gitconfig

# Ignore node_modules (if applicable for JS projects)
node_modules/

.kube/
.minikube/