.navbar {
    display: flex;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li a {
    text-decoration: none;
    color: #ecf0f2;
    padding: 10px 20px;
    background-color: #151614;
    border-radius: 20px;
}

.navbar li a:hover {
    background-color: #278993;
}

/* تنسيق الشعار */





.container {
    display: flex;
    justify-content: center;
    /* لتمركز العناصر أفقياً */
    align-items: center;
    /* لتمركز العناصر عمودياً */
    height: 100vh;
    /* تملأ الشاشة بالكامل */
    background-color: #f0f4f8;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 أعمدة متساوية العرض */
    gap: 20px;
    /* مسافة بين الأعمدة */
    padding: 20px;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffc;
    color: #333;
    line-height: 1.6;
}

h1,
h2,
h3 {
    color: #0056b3;
}

p {
    color: #555;
}

video {


    margin: 20px;
}

/* تنسيق الفوتر */
.footer {
    background-color: #3c0d65;
    color: #FFFF00;
    padding: 5px;
    text-align: center;
    position: relative;


}

/* تنسيق نص الحقوق */
.footer-content p {
    color: #FFFF00;
    margin-bottom: 20px;
    /* إضافة مسافة بين النص والزر */
}

/* تنسيق الرابط في الفوتر */
.footer-nav a {
    background-color: #FFFF00;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    /* إضافة مسافة بين الزر والنص فوقه */
    display: inline-block;
}

.footer-nav a:hover {
    background-color: #F7E400;
    color: #3c0d65;
}

/* لتوسيط الفوتر على الصفحة */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}